html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
@media screen {
    body {
      background-color: #222;
      color: lavenderblush;
      text-shadow: 2px 2px 2px black;
    }
  }
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #555;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#navbar-items { 
    display: flex;
    text-align: right;
    background-color: #555;
}
#navbar-items a {
    color: #ff4444;
    text-decoration: none; 
}
#navbar-items a:hover {
    color: #ff4444bb; 
}
#navbar-items a:checked {
    color: inherit; 
}
#navbar-items h1 {
    display: flex;
    margin: 15px;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 5px black;
}
#welcome-section {
    display: flex;
    height: 100vh;
    justify-content: center;
}
#welcome-section h1{
    margin: 100px;
}
#projects {
    text-align: center;
    background-color: #ff4444;
    padding: 0px 15px 15px 15px;
}
figure {
    margin: 15px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 250px;
}
figure:hover {
    opacity: 90%;
}
figcaption {
    margin-top: -15px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: #222222bb;
}
.tile-img {
    flex: inherit;
    display: flex;
    object-fit: cover;
    height: 250px;
    width: 250px;
}
#contact {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: #555;
}
#contactText {
    display: flex;
    width: 100%;
    justify-content: center;
}
#contactLink {
    display: flex;
    justify-content: center;
    background-color: #555;
}
.logoFit {
    display: flex;
    background-color: inherit;
    height: 25px;
}