:root{
    box-sizing: border-box;
    background-color: #222222;
}

body{
    background-color: #222222;
    color: lavenderblush;
    text-shadow: 2px 2px 2px black;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-self: center;
    font-size: 2em;
}

#buttons {
    display: flex;
    justify-content: center;
}

img {
    margin: 1px;
    border: solid black 5px;
    object-fit: cover;
    height: 500px;
    width: 350px;
}

button {
    font-size: 2rem;
    background-color: #ff5555;
    border-radius: 12px;
    padding: 3px;
}

.gallery {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer {
    width: 100%;
    bottom: 0;
    color: inherit;
    background-color: inherit;
}