:root{
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: lavenderblush;
    text-shadow: 2px 2px 2px black;
}

img {
    margin: 1px;
    border: solid black 5px;
    object-fit: cover;
    height: 500px;
    width: 350px;
}

button {
    font-size: 2rem;
    background-color: #ff5555;
    border-radius: 12px;
    padding: 3px;
}
