.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.senators{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.senCard{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.progressDiv{
    display: flex;
    flex-flow: column;
}

.main h4{
    margin: 5px;
}

figure {
    width: 200px;
}

figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
    margin-top: -20px;
    border: none;
}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color: rgb(131, 131, 3);
}
header {
    text-align: center;
}