/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  margin: 15px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner.is-legendary{
  border: 3px solid gold;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
display: flex;
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
border: 3px solid black;
}

/* Do an horizontal flip when you hold click the flip box container */
/* .flip-card:active .flip-card-inner {
transform: rotateY(180deg);
} */

.flip-card-inner.is-flipped{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: #ff4444;
color: lavenderblush;
text-shadow: black;
transform: rotateY(180deg);
}

.pokeImg {
width: inherit;
height: inherit;
object-fit: fill;
position: absolute;
right: 0%;
top: 0%;
pointer-events: none;
}

.pokemonGrid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pokeName {
  font-family: 'Girassol', cursive;
}

/* .grass {
  background-color: #37b81a;
  width: 100%;
  height: 50%;
}

.bug {
  background-color: lawngreen;
  width: 100%;
  height: 50%;
}

.poison {
  background-color: #8239f7;
  width: 100%;
  height: 50%;
} */
